:root {
  --dropdown-height: 75px;
  --dropdown-width: 100%;
}

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: none;
}

/* Styles for dropdownMenu.js */

#dropdown-menu {
  justify-self: center;
  align-self: flex-start;
  width: var(--dropdown-width);
  height: var(--dropdown-height);
  background-color: #797b84;
}

.dropdown-nav a,
[class^="dropdown-item"] a {
  color: ghostwhite;
}

.dropdown-nav:hover {
  background-color: #dbabbe;
}

.dropdown-box {
  display: none;
}

[class^="dropdown-menu"] {
  background-color: #b5b6ba;
}

[class^="dropdown-menu"]:hover {
  background-color: #baa1a7;
}

.dropdown-sub-item {
  background-color: #cacbce;
}
